<launch>
  <!-- Arguments -->

  <arg name="cmd_vel_topic" default="/cmd_vel" />
  <arg name="odom_topic" default="odom" />
  <arg name="move_forward_only" default="false"/>

  <!-- move_base -->
  <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">

    <param name="base_local_planner" value="teb_local_planner/TebLocalPlannerROS" />

    <rosparam file="$(find abot_navigation)/param/TEB/costmap_common_params.yaml" command="load" ns="global_costmap" />
    
    <rosparam file="$(find abot_navigation)/param/TEB/costmap_common_params.yaml" command="load" ns="local_costmap" />
    
    <rosparam file="$(find abot_navigation)/param/TEB/local_costmap_params.yaml" command="load" />
    
    <rosparam file="$(find abot_navigation)/param/TEB/global_costmap_params.yaml" command="load" />
    
    <rosparam file="$(find abot_navigation)/param/TEB/move_base_TEB_params.yaml" command="load" />
   
    <remap from="cmd_vel" to="$(arg cmd_vel_topic)"/>
    <remap from="odom" to="$(arg odom_topic)"/>
    
  </node>
</launch>
